<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attendance Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="row">
    <div class="col-auto float-end ms-auto" style="padding-top: 10px; padding-right: 5px">
        <a class="btn add-btn" data-bs-target="#add_employee" data-bs-toggle="modal" href="#"
           sec:authorize="hasAnyAuthority('ADMIN')"
           style="background-color: #ffc720" th:onclick="momodalNewEmployee()"><i class="fa fa-plus"></i> Config
            attendance</a>
        <div class="nenmodal" id="nenmodalemp">
            <div class="nenmodal2"></div>
            <div class="ndmodal5 scaled">
                <div class="closemodal">
                    <button onclick="momodalNewEmployee()">×</button>
                </div>

                <div class="titlemodal">Config attendance</div>
                <div class="card-body">
                    <form class="container-fluid" method="POST" th:action="@{/save-config}"
                          th:object="${attendanceConfig}">
                        <div class="container py-2 h-100">
                            <div>
                                <div>
                                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                        <div class="card-body p-2 p-md-5">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4">

                                                        <div class="form-outline">
                                                            <input class="form-control form-control-lg" id="startTime"
                                                                   th:field="*{startWorkTime}"
                                                                   type="text"/>
                                                            <label class="form-label" for="startTime">Start time</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">

                                                        <div class="form-outline">
                                                            <input class="form-control form-control-lg" id="endTime"
                                                                   th:field="*{endWorkTime}"
                                                                   type="text"/>
                                                            <label class="form-label" for="endTime">End time</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-outline">
                                                            <input class="form-control form-control-lg" id="workingDays"
                                                                   th:field="*{workingDaysOfWeek}"
                                                                   type="text"/>
                                                            <label class="form-label" for="workingDays">Working days of
                                                                week</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-outline">
                                                            <input class="form-control form-control-lg" id="breakTime"
                                                                   th:field="*{breakTime}"
                                                                   type="text"/>
                                                            <label class="form-label" for="breakTime">Break time</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-outline">
                                                            <input class="form-control form-control-lg" id="lateTime"
                                                                   th:field="*{lateAndEarlyTime}"
                                                                   type="text"/>
                                                            <label class="form-label" for="lateTime">Late&Early
                                                                time</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mb-4 pb-2 text-end">
                                                        <input class="btn btn-primary btn-lg" type="submit"
                                                               value="Report"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end" style="padding-top: 10px">
        <a class="btn add-btn" data-bs-target="#add_employee" data-bs-toggle="modal" href="#"
           sec:authorize="hasAnyAuthority('ADMIN','HRSTAFF')"
           style="background-color: #ffc720" th:onclick="momodalExport()"><i
                class="fa fa-download"></i> Report</a>
        <div class="nenmodal" id="nenmodalexp">
            <div class="nenmodal2"></div>
            <div class="ndmodal5 scaled">
                <div class="closemodal">
                    <button onclick="momodalExport()">×</button>
                </div>
                <div class="titlemodal">Time report</div>
                <div class="card-body">
                    <form class="container-fluid" method="get" th:action="@{/api/v1/attendance/export}">

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <input class="form-control form-control-lg" id="fromDate"
                                       name="fromDate"
                                       type="date"/>
                                <label class="form-label" for="fromDate">From</label>
                            </div>
                            <div class="col-md-6 mb-4">
                                <input class="form-control form-control-lg" id="toDate"
                                       name="toDate"
                                       type="date"/>
                                <label class="form-label" for="toDate">To</label>
                            </div>
                        </div>
                        <div class="text-end">
                            <input class="btn btn-primary btn-lg" type="submit"
                                   value="Report"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<form method="get" style="padding-top: 15px" th:action="@{/attendance}">
    <div class="row" style="padding-left: 80px">
        <div class="col-md-3 mb-4">
            <select class="form-select" id="month" name="month">
                <option th:value="${#dates.createNow().getMonth()+1}">month</option>
                <option th:value="1">January</option>
                <option th:value="2">February</option>
                <option th:value="3">March</option>
                <option th:value="4">April</option>
                <option th:value="5">May</option>
                <option th:value="6">June</option>
                <option th:value="7">July</option>
                <option th:value="8">August</option>
                <option th:value="9">September</option>
                <option th:value="10">October</option>
                <option th:value="11">November</option>
                <option th:value="12">December</option>
            </select>
        </div>
        <div class="col-md-3 mb-4">
            <select class="form-select" id="year" name="year">
                <option th:value="${#dates.createNow().getYear()+1900}">year</option>
                <option th:value="2020">2020</option>
                <option th:value="2021">2021</option>
                <option th:value="2022">2022</option>
                <option th:value="2023">2023</option>
            </select>
        </div>
        <div class="col-md-3 mb-4">
            <div class="d-grid">
                <input class="btn btn-primary" type="submit" value="&#128269; Search"/>
            </div>
        </div>
    </div>
</form>

<div class="main" style=" padding-bottom: 15px">
    <table class="table table-bordered table-striped container">
        <thead class="thead-dark color">
        <tr>
            <td>#</td>
            <td>Employee</td>
            <td th:each="i : ${#numbers.sequence(1,currentDate.lengthOfMonth())}"
                th:styleappend="${(currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 6 ||
                            currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 7)
                         ? 'background-color: rgba(196, 203, 233, .5)' : '' }">
                [[${i}]]
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result, rowIndex: ${listResult}">
            <td th:text="${rowIndex.count}"></td>
            <td th:text="${result.getKey().getFirstName() + ' ' + result.getKey().getLastName()}"/>
            <td data-bs-target="#attendance_info" data-bs-toggle="modal"
                th:each="i : ${#numbers.sequence(1,currentDate.lengthOfMonth())}"
                th:styleappend="${(currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 6 ||
                            currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 7
                            ) ? 'background-color: rgba(196, 203, 233, .5)' : '' }">
                <th:block th:each="attendance:${result.getValue()}"
                          th:with="attendanceDate=${attendance.getDate()}">
                    <a href="#"
                       th:if="${attendanceDate == currentDate.withDayOfMonth(i)}"
                       th:onclick="momodalAttendance([[${attendance.getCheckInTime()}]],[[${attendance.getCheckOutTime()}]],[[${attendance.getPunchHour()}]])">
                        <i class="fa fa-check text-success" style></i>
                    </a>
                </th:block>
                <div class="nenmodal" id="nenmodal-attendance">
                    <div class="nenmodal2"></div>
                    <div class="ndmodal5">
                        <div class="closemodal">
                            <button onclick="momodalAttendance()">×</button>
                        </div>

                        <div class="titlemodal">Attendance Info</div>

                        <div class="card-body">
                            <div class="punch-det">
                                <h6>Punch In at</h6>
                                <p id="checkInTime">Wed, 11th Mar 2019 10.00 AM</p>
                            </div>

                            <div class="punch-info">
                                <div class="punch-hours" style="padding-top: 45px">
                                    <span id="punchHour"></span><span>hrs</span>
                                </div>
                            </div>

                            <div class="punch-det">
                                <h6>Punch Out at</h6>
                                <p id="checkOutTime">Wed, 11th Mar 2019 10.00 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>