<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Attendance Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<form method="get" th:action="@{/attendance}">
    <div class="row">
        <div class="col-md-3">
            <select class="form-select" id="month" name="month">
                <option th:value="${#dates.createNow().getMonth()+1}">month</option>
                <option th:value="1">January</option>
                <option th:value="2">February</option>
                <option th:value="3">March</option>
                <option th:value="4">April</option>
                <option th:value="5">May</option>
                <option th:value="6">June</option>
                <option th:value="7">July</option>
                <option th:value="8">August</option>
                <option th:value="9">September</option>
                <option th:value="10">October</option>
                <option th:value="11">November</option>
                <option th:value="12">December</option>
            </select>
            <select class="form-select" id="year" name="year">
                <option th:value="${#dates.createNow().getYear()+1900}">year</option>
                <option th:value="2020">2020</option>
                <option th:value="2021">2021</option>
                <option th:value="2022">2022</option>
                <option th:value="2023">2023</option>
            </select>
            <div class="col-sm-3">
                <div class="d-grid">
                    <input class="btn btn-primary" type="submit" value="Search">
                </div>
            </div>

        </div>
    </div>
</form>

<div class="main" style="padding-top: 50px">
    <table class="table table-bordered table-striped container">
        <thead class="thead-dark color">
        <tr>
            <td>#</td>
            <td>Employee</td>
            <td th:each="i : ${#numbers.sequence(1,currentDate.lengthOfMonth())}"
                th:styleappend="${(currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 6 ||
                            currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 7
                            ) ? 'background-color: rgba(196, 203, 233, .5)' : '' }">
                <!--            th:text="${#dates.dayOfWeek(currentDate.withDayOfMonth(i))}">-->
                [[${i}]]
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee, rowIndex: ${listEmployee}">
            <td th:text="${rowIndex.count}"></td>
            <td th:text="${employee.getFirstName() + ' ' + employee.getLastName()}"/>
            <td data-bs-target="#attendance_info" data-bs-toggle="modal"
                th:each="i : ${#numbers.sequence(1,currentDate.lengthOfMonth())}"
                th:styleappend="${(currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 6 ||
                            currentDate.withDayOfMonth(i).getDayOfWeek().getValue() == 7
                            ) ? 'background-color: rgba(196, 203, 233, .5)' : '' }">


                <th:block th:each="attendance: ${listAttendance}">
                    <a href="#"
                       th:if="${attendance.getEmployeeId() == employee.getId() && attendance.getDate() == currentDate.withDayOfMonth(i)}"
                       th:onclick="momodal([[${attendance.getCheckInTime()}]],[[${attendance.getCheckOutTime()}]],[[${attendance.getPunchHour()}]])">
                        <i class="fa fa-check text-success" style></i>
                    </a>
                </th:block>

                <div class="nenmodal" id="nenmodal-1">
                    <div class="nenmodal2"></div>
                    <div class="ndmodal">
                        <div class="closemodal">
                            <button onclick="momodal()">×</button>
                        </div>

                        <div class="titlemodal">Attendance Info</div>

                        <div class="card-body">
                            <div class="punch-det">
                                <div class="form-outline">
                                    <input class="form-control form-control-lg" id="username" th:field="*{username}"
                                           type="text"/>
                                    <label class="form-label" for="username">Username</label>
                                </div>
                            </div>

                            <div class="punch-info">
                                <div class="punch-hours" style="padding-top: 45px">
                                    <span id="punchHour"></span><span>hrs</span>
                                </div>
                            </div>

                            <div class="punch-det">
                                <h6>Punch Out at</h6>
                                <p id="checkOutTime">Wed, 11th Mar 2019 10.00 AM</p>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>