<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/change-password.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>

<div>
    <form action="#" th:action="@{/change-password}" th:object="${changePasswordDTO}" method="POST">
        <section class="vh-100 bg-image">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5">Change password</h2>

                                    <form>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="current-password"
                                                   class="form-control form-control-lg" th:field="*{currentPassword}"/>
                                            <label class="form-label" for="current-password">Current password</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="new-password"
                                                   class="form-control form-control-lg" th:field="*{newPassword}"/>
                                            <label class="form-label" for="new-password">New password</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="confirm-password"
                                                   class="form-control form-control-lg"
                                                   th:field="*{confirmNewPassword}"/>
                                            <label class="form-label" for="confirm-password">Confirm new
                                                password</label>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit"
                                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                                Reset password
                                            </button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
    <div th:replace="header-footer/footer :: footer"></div>
</div>
</body>
</html>