<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change password</title>
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/docs.css}" rel="stylesheet">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>

<div>
  <h1>Update profile</h1>
  <hr>
  <h2>Change password</h2>
  <form action="#" th:action="@{/change-password}" th:object="${changePasswordDTO}"  method="POST" >
    <input type="text" name="password" th:field="*{currentPassword}" placeholder="Current password" class="form-control" mb-4>
    <input type="text" name="new-password" th:field="*{newPassword}" placeholder="New password" class="form-control" mb-4>
    <input type="text" name="confirm-new-password" th:field="*{confirmNewPassword}" placeholder="Confirm new password" class="form-control" mb-4>
    <button type="submit" class="btn btn-primary">Change</button>
  </form>
</div>

<div style="position: absolute; bottom: 0; left: 0; right: 0">
  <div th:replace="header-footer/footer :: footer"></div>
</div>
</body>
</html>