<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/add-user.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div>
    <form class="container-fluid" method="POST" th:action="@{/create-account}" th:object="${user}">
        <div th:object="${employee}"><input th:field="*{id}" type="hidden"></div>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-2 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create account</h3>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <input class="form-control form-control-lg" id="username" th:field="*{username}"
                                                       type="text"/>
                                                <label class="form-label" for="username">Username</label>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <input class="form-control form-control-lg" id="password" th:field="*{password}"
                                                       type="text"/>
                                                <label class="form-label" for="password">Password</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row" th:object="${listRole}">
                                        <div class="col-12">
                                            <select class="select form-control-lg" name="selectedRole">
                                                <option disabled value="1">Choose role</option>
                                                <option th:each="role :${listRole}"
                                                        th:text="${role.getName()}"></option>
                                            </select>
                                            <label class="form-label select-label">Choose role</label>

                                        </div>

                                    </div>

                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" value="Submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
<div style="padding-top: 60px">
    <div th:replace="header-footer/footer :: footer"></div>
</div>
</body>
</html>