<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/docs.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="main" style="padding-top: 50px">
    <table class="table table-bordered table-striped container">
        <thead class="thead-dark color">
        <tr>
            <td style="background-color: rgba(247, 247, 174, .5)">#</td>
            <td>Username</td>
            <td>Email</td>
            <td>Employee Id</td>
            <td>Changed password</td>
            <td>Enabled</td>
            <td>Locked</td>
            <td sec:authorize="hasAnyAuthority('ADMIN','HRSTAFF')">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, rowIndex: ${listUser}">
            <td th:text="${rowIndex.count + (currentPage - 1) * size }" style="background-color: rgba(247, 247, 174, .5)"></td>
            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getEmail() != null ? user.getEmail() : ''}"/>
            <td th:text="${user.getEmployee() != null ? user.getEmployee().getId() : ''}"/>
            <td th:text="${user.getChangedPassword()}"/>
            <td th:text="${user.getEnabled()}"/>
            <td th:text="${user.getLocked()}"/>
            <td sec:authorize="hasAnyAuthority('ADMIN')" style="max-width: 180px">
                <div class="container-fluid">
<!--                    <a th:href="@{/updateUser/{id}(id=${user.getId()})}" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i></a>-->
                    <a href="#" th:onclick="'momodalUser(' + ${user.getId()} + ')'"><i class="fas fa-edit fa-lg"></i></a>
                </div>
            </td>
            <div class="nenmodal" th:attr="id='nenmodalUser-' + ${user.getId()}">
                <div class="nenmodal2"></div>
                <div class="ndmodal4">
                    <div class="closemodal">
                        <button th:onclick="'momodalUser(' + ${user.getId()} + ')'">×</button>
                    </div>
                    <div class="titlemodal">User Info</div>

                    <div class="card-body">
                        <form action="#" th:action="@{/update-user}" th:object="${newUser}" method="POST" class="container-fluid"
                              style="padding-top: 10px">
                            <input type="hidden" th:field="*{id}">
                            <div class="container">
                                <div class="row gutters">
                                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <h6 class="mb-2 text-primary">User Details</h6>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                        <div class="form-group">
                                                            <label >Username</label>
                                                            <br>
                                                            <h6  th:text="${user.getUsername()}"></h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                        <div class="form-group">
                                                            <label for="password">Password</label>
                                                            <input type="text" th:field="*{password}" class="form-control" id="password"
                                                                   placeholder="Enter password">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                        <div class="form-group">
                                                            <label for="email">Email</label>
                                                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                                                   placeholder="Enter email">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                        <div class="form-group">
                                                            <label for="employee">Employee Id</label>
                                                            <input type="text" th:field="*{employee}" class="form-control" id="employee"
                                                                   placeholder="Enter employee id">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">

                                                        <h6 class="mb-2 pb-1">Enable</h6>

                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   name="inlineRadioOptions" id="enabled"
                                                                   th:value="true" checked th:field="*{enabled}"/>
                                                            <label class="form-check-label" for="enabled">Enable</label>
                                                        </div>

                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   name="inlineRadioOptions" id="disable"
                                                                   th:value="false" checked th:field="*{enabled}"/>
                                                            <label class="form-check-label" for="disable">Disable</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 mb-4">

                                                        <h6 class="mb-2 pb-1">Lock</h6>

                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   name="inlineRadioOptions" id="lock"
                                                                   th:value="true" checked th:field="*{locked}"/>
                                                            <label class="form-check-label" for="lock">Lock</label>
                                                        </div>

                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   name="inlineRadioOptions" id="unlock"
                                                                   th:value="false" checked th:field="*{locked}"/>
                                                            <label class="form-check-label" for="unlock">Unlock</label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row gutters">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="text-end" style="padding-top: 10px">
                                                            <button type="submit" class="btn btn-primary">Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<ul class="pagination justify-content-center flex-wrap" th:with="pageUrlPrefix = '/user/list/',pageUrlPostfix = '/10'">
        <a th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix}}" class="page-link">First</a>
    <li th:class="${currentPage > 1 ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}" class="page-link">Previous</a>
    </li>

    <th:block th:if="${totalPages <= 10}">
        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
            <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
        </li>
    </th:block>

    <th:block th:if="${totalPages > 10}">
        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
            <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage !=i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${6} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
        </th:block>

        <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
            <a th:href="@{${pageUrlPrefix} + ${currentPage - 5} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${currentPage + 5} + ${pageUrlPostfix}}" class="page-link">...</a>
        </th:block>
    </th:block>

    <li th:class="${currentPage < totalPages ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage + 1}+ ${pageUrlPostfix}}" class="page-link">Next</a>
    </li>
        <a th:href="@{${pageUrlPrefix} + ${totalPages}+ ${pageUrlPostfix}}" class="page-link">Last</a>
</ul>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>