<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/demo.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/profile-card.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="col-auto float-end ms-auto" style="padding-top: 10px; padding-right: 5px">
    <a href="#" class="btn add-btn" th:onclick="momodalNewEmployee()" data-bs-toggle="modal"
       data-bs-target="#add_employee"
       style="background-color: #ffc720" sec:authorize="hasAnyAuthority('ADMIN')"><i class="fa fa-plus"></i> Add new
        employee</a>
    <div class="nenmodal" id="nenmodalemp">
        <div class="nenmodal2"></div>
        <div class="ndmodal3 scaled">
            <div class="closemodal">
                <button onclick="momodalNewEmployee()">×</button>
            </div>

            <div class="titlemodal">New Employee</div>
            <div class="card-body">
                <form class="container-fluid" th:action="@{/save-employee}" th:object="${user}" method="POST">
                    <div class="container py-2 h-100">
                        <div class="row justify-content-center align-items-center">
                            <div>
                                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                    <div class="card-body p-2 p-md-5">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-4 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="username"
                                                               class="form-control form-control-lg"
                                                               th:field="*{username}"/>
                                                        <label class="form-label" for="username">Username</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-4">

                                                    <div class="form-outline">
                                                        <input type="text" id="password"
                                                               class="form-control form-control-lg"
                                                               th:field="*{password}"/>
                                                        <label class="form-label" for="password">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-4 pb-2" th:object="${listRole}">
                                                    <div class="col-12">

                                                        <select class="select form-control-lg" name="selectedRole">
                                                            <option value="1" disabled>Choose role</option>
                                                            <option th:each="role :${listRole}"
                                                                    th:text="${role.getName()}"></option>
                                                        </select>
                                                        <label class="form-label select-label">Choose role</label>

                                                    </div>

                                                </div>

                                            </div>
                                            <div th:object="${employee}">
                                                <div class="row">
                                                    <div class="col-md-4 mb-4">
                                                        <div class="form-outline">
                                                            <input type="text" id="firstName"
                                                                   class="form-control form-control-lg"
                                                                   th:field="*{firstName}"/>
                                                            <label class="form-label" for="firstName">First
                                                                Name</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 mb-4">

                                                        <div class="form-outline">
                                                            <input type="text" id="lastName"
                                                                   class="form-control form-control-lg"
                                                                   th:field="*{lastName}"/>
                                                            <label class="form-label" for="lastName">Last
                                                                Name</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 mb-4">

                                                        <h6 class="mb-2 pb-1">Gender: </h6>

                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   name="inlineRadioOptions" id="femaleGender"
                                                                   th:value="FEMALE" checked th:field="*{gender}"/>
                                                            <label class="form-check-label"
                                                                   for="femaleGender">FEMALE</label>
                                                        </div>

                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                   name="inlineRadioOptions" id="maleGender"
                                                                   th:value="MALE" checked th:field="*{gender}"/>
                                                            <label class="form-check-label"
                                                                   for="maleGender">MALE</label>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4 mb-4 d-flex align-items-center">

                                                        <div class="form-outline datepicker w-100">
                                                            <input type="date" class="form-control form-control-lg"
                                                                   id="birthdayDate" th:field="*{dateOfBirth}"/>
                                                            <label for="birthdayDate"
                                                                   class="form-label">Birthday</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 mb-4 pb-2">

                                                        <div class="form-outline">
                                                            <input type="email" id="emailAddress"
                                                                   class="form-control form-control-lg"
                                                                   th:field="*{email}"/>
                                                            <label class="form-label" for="emailAddress">Email</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4 mb-4 pb-2">

                                                        <div class="form-outline">
                                                            <input type="tel" id="phoneNumber"
                                                                   class="form-control form-control-lg"
                                                                   th:field="*{phoneNumber}"/>
                                                            <label class="form-label" for="phoneNumber"
                                                            >Phone Number</label>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 mb-4 pb-2">
                                                        <div class="form-outline">
                                                            <input type="text" id="code"
                                                                   class="form-control form-control-lg"
                                                                   th:field="*{code}"/>
                                                            <label class="form-label" for="code"
                                                            >Code</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-4 pb-2">
                                                        <div class="form-group">
                                                            <select class="form-select form-control form-control-lg" name="department"
                                                                    id="department">
                                                                <th:block th:if="${employee.getDepartment() != null}">
                                                                    <option th:value="${employee.getDepartment().getId()}"
                                                                            th:text="${employee.getDepartment().getName()}"></option>
                                                                </th:block>
                                                                <th:block th:if="${employee.getDepartment() == null}">
                                                                    <option th:value="${''}">Choose department</option>
                                                                </th:block>
                                                                <option th:each="department: ${listDepartment}"
                                                                        th:text="${department.getName()}"
                                                                        th:value="${department.getId()}">department
                                                                </option>
                                                            </select>
                                                            <label class="form-label" for="department">Department</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-4 pb-2 text-end">
                                                        <input class="btn btn-primary btn-lg" type="submit"
                                                               value="Add"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main" style="padding-top: 10px">
    <div class="row staff-grid-row">
        <th:block th:each="employee: ${listEmployee}">
            <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" style="">
                <div class="our-team">
                    <div class="picture">
                        <a href="#" th:onclick="'momodal(' + ${employee.getId()} + ')'">
                            <img class="img-fluid"
                                 th:src="'https://source.unsplash.com/130x130/?employee='+${employee.getId()}">
                        </a>
                    </div>
                    <div class="team-content">
                        <h3 class="" th:text="${employee.getFirstName() + ' ' + employee.getLastName()}">Michele
                            Miller</h3>
                        <h4 class="title" th:text="${employee.getCode()}">Web Developer</h4>
                    </div>
                    <div class="nenmodal" th:attr="id='nenmodal-' + ${employee.getId()}">
                        <div class="nenmodal2"></div>
                        <div class="ndmodal">
                            <div class="closemodal">
                                <button th:onclick="'momodal(' + ${employee.getId()} + ')'">×</button>
                            </div>

                            <div class="titlemodal">Employee Info</div>

                            <div class="card-body">
                                <div class="rt-container">
                                    <div class="col-rt-12">
                                        <div class="Scriptcontent">
                                            <!-- Student Profile -->
                                            <div class="student-profile py-4">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="card shadow-sm">
                                                                <div class="card-header bg-transparent text-center">
                                                                    <img class="profile_img"
                                                                         th:src="'https://source.unsplash.com/600x300/?employee='+${employee.getId()}"
                                                                         alt="student dp">
                                                                    <h3 th:text="${employee.getFirstName()+' '+employee.getLastName()}"></h3>
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="mb-0"><strong>Employee Code: </strong>
                                                                    <p class="mb-0" th:text="${employee.getCode()}"></p>
                                                                    <p class="mb-0"><strong>Department:</strong>
                                                                    <p class="mb-0"
                                                                       th:text="${employee.getDepartment() != null ? employee.getDepartment().getName() : null}"></p>
                                                                    </p>
                                                                    <p class="mb-0"><strong>Position:</strong></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="card shadow-sm">
                                                                <div class="card-header bg-transparent border-0">
                                                                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>
                                                                        General
                                                                        Information</h3>
                                                                </div>
                                                                <div class="card-body pt-0">
                                                                    <a th:href="@{/deleteEmployee/{id}(id=${employee.getId()})}"
                                                                       sec:authorize="hasAnyAuthority('ADMIN','MANAGER')"><i
                                                                            class="fa fa-trash text-danger fa-lg"
                                                                            style="padding-right: 630px"></i></a>
                                                                    <a th:href="@{/updateEmployee/{id}(id=${employee.getId()})}"
                                                                       sec:authorize="hasAnyAuthority('ADMIN','MANAGER','HRSTAFF')"><i
                                                                            class="fas fa-edit fa-lg"></i></a>
                                                                    <table class="table table-bordered">
                                                                        <tr>
                                                                            <th width="30%">Full name</th>
                                                                            <td width="2%">:</td>
                                                                            <td th:text="${employee.getFirstName()+' '+employee.getLastName()}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="30%">Gender</th>
                                                                            <td width="2%">:</td>
                                                                            <td th:text="${employee.getGender()}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="30%">Birth day</th>
                                                                            <td width="2%">:</td>
                                                                            <td th:text="${employee.getDateOfBirth()}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="30%">Email</th>
                                                                            <td width="2%">:</td>
                                                                            <td th:text="${employee.getEmail()}">Group
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th width="30%">Phone number</th>
                                                                            <td width="2%">:</td>
                                                                            <td th:text="${employee.getPhoneNumber()}"></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div style="height: 26px"></div>
                                                            <div class="card shadow-sm">
                                                                <div class="card-header bg-transparent border-0">
                                                                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>
                                                                        Other
                                                                        Information</h3>
                                                                </div>
                                                                <div class="card-body pt-0">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                                        adipisicing elit.
                                                                        Accusantium
                                                                        aliquam animi beatae, culpa delectus doloremque
                                                                        doloribus facere fugiat
                                                                        harum illo in, ipsa itaque minus omnis possimus
                                                                        rerum
                                                                        sit sunt
                                                                        voluptatibus!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<ul class="pagination justify-content-center flex-wrap"
    th:with="pageUrlPrefix = '/employee/list/',pageUrlPostfix = '/8'">
    <a th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix}}" class="page-link">First</a>
    <li th:class="${currentPage > 1 ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}" class="page-link">Previous</a>
    </li>

    <th:block th:if="${totalPages <= 10}">
        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
            <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
        </li>
    </th:block>

    <th:block th:if="${totalPages > 10}">
        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
            <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage !=i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${6} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
        </th:block>

        <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
            <a th:href="@{${pageUrlPrefix} + ${currentPage - 5} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}"
                th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${currentPage + 5} + ${pageUrlPostfix}}" class="page-link">...</a>
        </th:block>
    </th:block>

    <li th:class="${currentPage < totalPages ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage + 1}+${pageUrlPostfix}}" class="page-link">Next</a>
    </li>
    <a th:href="@{${pageUrlPrefix} + ${totalPages}+${pageUrlPostfix}}" class="page-link">Last</a>
</ul>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>