<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/docs.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="main" style="padding-top: 50px">
    <table class="table table-bordered table-striped container">
        <thead class="thead-dark color">
        <tr>
            <td style="background-color: rgba(247, 247, 174, .5)">#</td>
            <td>Username</td>
            <td>Reset password</td>
            <td>Enabled</td>
            <td>Locked</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, rowIndex: ${listUser}">
            <td th:text="${rowIndex.count + (currentPage - 1) * size }"
                style="background-color: rgba(247, 247, 174, .5)"></td>
            <td th:text="${user.getUsername()}"/>
            <td>
                <!--                <a th:href="@{/user/reset/{id}(id=${user.getId()})}">-->
                <a href="#" th:onclick="'momodalUserReset(' + ${user.getId()} + ')'">
                    <span class="fa-passwd-reset fa-stack text-success fa-xs">
                        <i class="fa fa-undo fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x"></i>
                    </span>
                </a>
            </td>
            <div class="nenmodal" th:attr="id='nenmodalUserReset-' + ${user.getId()}">
                <div class="nenmodal2"></div>
                <div class="ndmodal4">
                    <div class="closemodal">
                        <button th:onclick="'momodalUserReset(' + ${user.getId()} + ')'">×</button>
                    </div>
                    <div class="titlemodal">Reset password</div>

                    <div class="card-body">
                        <form action="#" th:action="@{/user/reset/{id}(id=${user.getId()})}" method="POST"
                              style="padding-top: 10px">
                            <div class="container">
                                <div class="row gutters">
                                    <div>
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div>
                                                        <p>Are you sure to reset password for this user???</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="text-center" style="padding-top: 10px">
                                                            <button type="submit" class="btn btn-primary">Reset
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <th:block th:if="${user.getEnabled()}">
                <td>
                        <a href="#" th:onclick="'momodalUserDisable(' + ${user.getId()} + ')'">
                        <i class="fa fa-check text-success fa-lg"></i></a>
                </td>
            </th:block>
            <th:block th:if="${!user.getEnabled()}">
                <td>
                    <a href="#" th:onclick="'momodalUserEnable(' + ${user.getId()} + ')'">
                    <i class="fas fa-window-close text-danger fa-lg"></i></a></td>
            </th:block>
            <th:block th:if="${!user.getLocked()}">
                <td>
                    <a href="#" th:onclick="'momodalUserLock(' + ${user.getId()} + ')'">
                    <i class="fa fa-lock-open text-success fa-lg"></i></a>
                </td>
            </th:block>
            <th:block th:if="${user.getLocked()}">
                <td>
                    <a href="#" th:onclick="'momodalUserUnlock(' + ${user.getId()} + ')'">
                    <i class="fa fa-lock text-danger fa-lg"></i></a>
                </td>
            </th:block>
            <div class="nenmodal" th:attr="id='nenmodalUserDisable-' + ${user.getId()}">
                <div class="nenmodal2"></div>
                <div class="ndmodal4">
                    <div class="closemodal">
                        <button th:onclick="'momodalUserDisable(' + ${user.getId()} + ')'">×</button>
                    </div>
                    <div class="titlemodal">Disable account</div>

                    <div class="card-body">
                        <form action="#" th:action="@{/user/disable/{id}(id=${user.getId()})}" method="POST"
                              style="padding-top: 10px">
                            <div class="container">
                                <div class="row gutters">
                                    <div>
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div>
                                                        <p>Are you sure to disable this account???</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="text-center" style="padding-top: 10px">
                                                            <button type="submit" class="btn btn-primary">Disable
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="nenmodal" th:attr="id='nenmodalUserEnable-' + ${user.getId()}">
                <div class="nenmodal2"></div>
                <div class="ndmodal4">
                    <div class="closemodal">
                        <button th:onclick="'momodalUserEnable(' + ${user.getId()} + ')'">×</button>
                    </div>
                    <div class="titlemodal">Enable account</div>

                    <div class="card-body">
                        <form action="#" th:action="@{/user/enable/{id}(id=${user.getId()})}" method="POST"
                              style="padding-top: 10px">
                            <div class="container">
                                <div class="row gutters">
                                    <div>
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div>
                                                        <p>Are you sure to enable this account???</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="text-center" style="padding-top: 10px">
                                                            <button type="submit" class="btn btn-primary">Enable
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="nenmodal" th:attr="id='nenmodalUserLock-' + ${user.getId()}">
                <div class="nenmodal2"></div>
                <div class="ndmodal4">
                    <div class="closemodal">
                        <button th:onclick="'momodalUserLock(' + ${user.getId()} + ')'">×</button>
                    </div>
                    <div class="titlemodal">Lock account</div>

                    <div class="card-body">
                        <form action="#" th:action="@{/user/lock/{id}(id=${user.getId()})}" method="POST"
                              style="padding-top: 10px">
                            <div class="container">
                                <div class="row gutters">
                                    <div>
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div>
                                                        <p>Are you sure to lock this account???</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="text-center" style="padding-top: 10px">
                                                            <button type="submit" class="btn btn-primary">Lock
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="nenmodal" th:attr="id='nenmodalUserUnlock-' + ${user.getId()}">
                <div class="nenmodal2"></div>
                <div class="ndmodal4">
                    <div class="closemodal">
                        <button th:onclick="'momodalUserUnlock(' + ${user.getId()} + ')'">×</button>
                    </div>
                    <div class="titlemodal">Unlock account</div>

                    <div class="card-body">
                        <form action="#" th:action="@{/user/unlock/{id}(id=${user.getId()})}" method="POST"
                              style="padding-top: 10px">
                            <div class="container">
                                <div class="row gutters">
                                    <div>
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row gutters">
                                                    <div>
                                                        <p>Are you sure to unlock this account???</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="text-center" style="padding-top: 10px">
                                                            <button type="submit" class="btn btn-primary">Unlock
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<ul class="pagination justify-content-center flex-wrap" th:with="pageUrlPrefix = '/user/list/',pageUrlPostfix = '/10'">
    <a th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix}}" class="page-link">First</a>
    <li th:class="${currentPage > 1 ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}" class="page-link">Previous</a>
    </li>

    <th:block th:if="${totalPages <= 10}">
        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
            <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
        </li>
    </th:block>

    <th:block th:if="${totalPages > 10}">
        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
            <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage !=i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${6} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
        </th:block>

        <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
            <a th:href="@{${pageUrlPrefix} + ${currentPage - 5} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}"
                th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${currentPage + 5} + ${pageUrlPostfix}}" class="page-link">...</a>
        </th:block>
    </th:block>

    <li th:class="${currentPage < totalPages ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage + 1}+ ${pageUrlPostfix}}" class="page-link">Next</a>
    </li>
    <a th:href="@{${pageUrlPrefix} + ${totalPages}+ ${pageUrlPostfix}}" class="page-link">Last</a>
</ul>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>