<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="col-auto float-end ms-auto" style="padding-top: 10px; padding-right: 5px">
    <a class="btn add-btn" data-bs-target="#add_department" data-bs-toggle="modal" href="#"
       style="background-color: #ffc720"
       th:onclick="momodalNewEmployee()"><i class="fa fa-plus"></i> Add new department</a>
    <div class="nenmodal" id="nenmodalemp">
        <div class="nenmodal2"></div>
        <div class="ndmodal4 scaled">
            <div class="closemodal">
                <button onclick="momodalNewEmployee()">×</button>
            </div>

            <div class="titlemodal">New Department</div>
            <div class="card-body">
                <form class="container-fluid" method="POST" th:action="@{/new-department}" th:object="${newDepartment}">
                    <div class="container py-2 h-100">
                        <div class="row justify-content-center align-items-center">
                            <div>
                                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                    <div class="card-body p-2 p-md-5">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5 mb-4">
                                                    <div class="form-outline">
                                                        <input class="form-control form-control-lg" id="name"
                                                               th:field="*{name}"
                                                               type="text"/>
                                                        <label class="form-label" for="name">Department name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mb-4">

                                                    <div class="form-outline">
                                                        <input class="form-control form-control-lg" id="code"
                                                               th:field="*{code}"
                                                               type="text"/>
                                                        <label class="form-label" for="code">Department code</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 mb-4">
                                                    <input class="btn btn-primary btn-lg" type="submit" value="Add"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main" style="padding-top: 10px">
    <table class="table table-bordered table-striped container">
        <thead class="thead-dark color">
        <tr>
            <td style="background-color: rgba(247, 247, 174, .5)">#</td>
            <td>Code</td>
            <td>Name</td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department, rowIndex: ${listDepartment}">
            <td style="background-color: rgba(247, 247, 174, .5)"
                th:text="${rowIndex.count + (currentPage - 1) * size }"></td>
            <td th:text="${department.getCode()}"/>
            <td th:text="${department.getName()}"/>
            <td sec:authorize="hasAnyAuthority('ADMIN')" style="max-width: 160px">
                <div class="container-fluid">
                    <a class="btn btn-primary" href="#" th:onclick="momodal2()"><i class="fas fa-edit fa-lg"></i></a>
                    <a class="btn btn-danger" style="margin-left: 10px"
                       th:href="@{/deleteDepartment/{id}(id=${department.getId()})}"><i class="fa fa-trash fa-lg"></i></a>
                    <div class="nenmodal" id="nenmodal-2">
                        <div class="nenmodal2"></div>
                        <div class="ndmodal4 scaled">
                            <div class="closemodal">
                                <button onclick="momodal2()">×</button>
                            </div>

                            <div class="titlemodal">Update Department</div>
                            <div class="card-body">
                                <form class="container-fluid"
                                      method="POST"
                                      th:action="@{/update-department/{id}(id=${department.getId()})}" th:object="${newDepartment}">
                                    <div class="container py-2 h-100">
                                        <div class="row justify-content-center align-items-center">
                                            <div>
                                                <div class="card shadow-2-strong card-registration"
                                                     style="border-radius: 15px;">
                                                    <div class="card-body p-2 p-md-5">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-5 mb-4">
                                                                    <div class="form-outline">
                                                                        <input class="form-control form-control-lg" id="name-update"
                                                                               th:field="*{name}"
                                                                               type="text"/>
                                                                        <label class="form-label" for="name-update">Department
                                                                            name</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 mb-4">

                                                                    <div class="form-outline">
                                                                        <input class="form-control form-control-lg" id="code-update"
                                                                               th:field="*{code}"
                                                                               type="text"/>
                                                                        <label class="form-label" for="code-update">Department
                                                                            code</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 mb-4">
                                                                    <input class="btn btn-primary btn-lg" type="submit"
                                                                           value="Save"/>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ul class="pagination justify-content-center flex-wrap"
    th:with="pageUrlPrefix = '/department/list/',pageUrlPostfix = '/10'">
    <a class="page-link" th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix}}">First</a>
    <li th:class="${currentPage > 1 ? 'page-item' : 'disabled'}">
        <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}">Previous</a>
    </li>

    <th:block th:if="${totalPages <= 10}">
        <li th:class="${currentPage != i ? 'page-item': 'disabled'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}">[[${i}]]</a>
        </li>
    </th:block>

    <th:block th:if="${totalPages > 10}">
        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
            <li th:class="${currentPage !=i ? 'page-item': 'disabled'}" th:each="i : ${#numbers.sequence(1, 5)}">
                <a class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}">[[${i}]]</a>
            </li>
            <a class="page-link" th:href="@{${pageUrlPrefix} + ${6} + ${pageUrlPostfix}}">...</a>
            <li th:class="${currentPage != i ? 'page-item': 'disabled'}"
                th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}">
                <a class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}">[[${i}]]</a>
            </li>
        </th:block>

        <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
            <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage - 5} + ${pageUrlPostfix}}">...</a>
            <li th:class="${currentPage != i ? 'page-item': 'disabled'}"
                th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}">
                <a class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}">[[${i}]]</a>
            </li>
            <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage + 5} + ${pageUrlPostfix}}">...</a>
        </th:block>
    </th:block>

    <li th:class="${currentPage < totalPages ? 'page-item' : 'disabled'}">
        <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage + 1}+${pageUrlPostfix}}">Next</a>
    </li>
    <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages}+${pageUrlPostfix}}">Last</a>
</ul>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>