<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/docs.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="main" style="padding-top: 50px">
    <table class="table table-bordered table-striped container">
        <thead class="thead-dark color" >
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>DateOfBirth</td>
            <td>Email</td>
            <td>Phone number</td>
            <td>Position</td>
            <td sec:authorize="hasAnyAuthority('ADMIN','HRSTAFF')">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${listEmployee}">
            <td th:text="${employee.getId()}"/>
            <td th:text="${employee.getFirstName()}"/>
            <td th:text="${employee.getLastName()}"/>
            <td th:text="${employee.getGender()}"/>
            <td th:text="${employee.getDateOfBirth()}"/>
            <td th:text="${employee.getEmail()}"/>
            <td th:text="${employee.getPhoneNumber()}"></td>
            <td/>
            <td sec:authorize="hasAnyAuthority('ADMIN','HRSTAFF')" style="max-width: 160px">
                <div class="container-fluid">
                    <a th:href="@{/updateEmployee/{id}(id=${employee.getId()})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/deleteEmployee/{id}(id=${employee.getId()})}" class="btn btn-danger" style="margin-left: 10px">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ul class="pagination justify-content-center flex-wrap" th:with="pageUrlPrefix = '/employee/list/',pageUrlPostfix = '/10'">
        <a th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix}}" class="page-link">First</a>
    <li th:class="${currentPage > 1 ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}" class="page-link">Previous</a>
    </li>

    <th:block th:if="${totalPages <= 10}">
        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
            <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
        </li>
    </th:block>

    <th:block th:if="${totalPages > 10}">
        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
            <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage !=i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${6} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
        </th:block>

        <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
            <a th:href="@{${pageUrlPrefix} + ${currentPage - 5} + ${pageUrlPostfix}}" class="page-link">...</a>
            <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}" th:class="${currentPage != i ? 'page-item': 'disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
            </li>
            <a th:href="@{${pageUrlPrefix} + ${currentPage + 5} + ${pageUrlPostfix}}" class="page-link">...</a>
        </th:block>
    </th:block>

    <li th:class="${currentPage < totalPages ? 'page-item' : 'disabled'}">
        <a th:href="@{${pageUrlPrefix} + ${currentPage + 1}+${pageUrlPostfix}}" class="page-link">Next</a>
    </li>
        <a th:href="@{${pageUrlPrefix} + ${totalPages}+${pageUrlPostfix}}" class="page-link">Last</a>
</ul>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>