<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pop-up.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/docs.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="container-fluid">
    <p th:text="${user}"></p>

    <button onclick="momodal()">Hiển thị</button>

    <!-- html modal -->
    <div class="nenmodal" id="nenmodal-1">
        <div class="nenmodal2"></div>
        <div class="ndmodal">
            <div class="closemodal"><button onclick="momodal()">×</button></div>
            <div class="titlemodal">Attendance Info</div>
            Nội dung hiển thị trong Modal của bạn
        </div>
    </div>
    <!-- kết thúc html modal -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus eum eveniet minima nemo nihil provident
        quidem quos, vitae. Adipisci autem commodi consequatur dicta dolorem eius eligendi eos et illo illum inventore
        ipsam, itaque laborum laudantium molestias nemo nisi nostrum nulla quos ratione repellat repellendus
        reprehenderit. Corporis debitis deleniti distinctio eaque enim exercitationem illum ipsum itaque labore nulla
        perferendis placeat, quae quisquam repudiandae sit sunt suscipit tempore unde? Aliquam amet asperiores autem
        beatae dolores ducimus est eum fugiat illum in mollitia necessitatibus nobis nulla odit optio pariatur porro
        quae quas qui quod reiciendis sunt tempore veniam voluptate voluptates, voluptatibus voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quam, vitae! Aliquam architecto atque
        blanditiis, dolorem eum explicabo itaque, molestiae non numquam obcaecati odio quod sed sit vitae voluptas. At
        consectetur consequatur culpa cum excepturi illo ipsam ipsum, iure laudantium magnam, nihil numquam placeat quod
        saepe sapiente sed sequi temporibus unde voluptate voluptatibus! Alias cumque delectus dolor dolorem doloribus
        eveniet, ex in ipsa laudantium nihil odio porro, quasi sed similique, tempora temporibus voluptatibus. Adipisci
        aliquam blanditiis deleniti dicta, ex expedita mollitia quis quo tempora! Architecto atque consequatur cum
        deleniti deserunt dolore, enim eum expedita harum id illum iure quibusdam quisquam quo repellat tempora vero,
        voluptatibus. Accusantium ad alias animi aspernatur assumenda commodi doloribus eum exercitationem, expedita
        fugiat fugit harum impedit in ipsa ipsum labore minus molestiae odio porro possimus, repudiandae rerum, ut
        veritatis voluptas voluptate. Accusantium adipisci animi aperiam aspernatur at beatae blanditiis commodi
        consectetur consequuntur cupiditate deleniti dolore ea enim et eum excepturi exercitationem fugit, id itaque
        laboriosam modi nam nesciunt nostrum nulla officia officiis pariatur porro quam quisquam sed tempora tenetur
        totam voluptatem? Alias at consectetur consequuntur ex libero possimus quaerat sequi sit! Dolor nobis unde ut!
        Autem consequatur cum eaque, fugit itaque quidem similique? Autem blanditiis commodi consequatur ducimus earum
        fuga harum illum impedit incidunt iste nesciunt officia quam quis quos ratione rem reprehenderit sint tempore
        vel, voluptatem. Alias architecto consequuntur eius, enim eum, inventore ipsum non odit pariatur quam, quos
        repellendus sint voluptas. Ad animi beatae commodi culpa fuga, hic illo magnam, maiores modi nihil praesentium
        quaerat quas qui quidem quod ratione reiciendis repellendus ullam unde voluptates. Delectus eius exercitationem
        expedita laborum minus modi nam omnis pariatur provident quod? Ad aut blanditiis delectus doloremque ducimus
        eius eos error esse hic illum inventore ipsum laboriosam necessitatibus nemo numquam obcaecati odit officiis
        omnis, perferendis placeat quibusdam quidem repellat repellendus, unde velit vero vitae! A assumenda beatae
        commodi, cum cupiditate dolore doloribus dolorum eius fugiat harum hic illum molestias nihil nisi non numquam
        officiis quas quia quod reprehenderit sed sit soluta sunt unde ut velit voluptate voluptatem! Ab accusamus animi
        aut corporis culpa debitis delectus dolores ea eaque est facilis fugit hic in ipsam iure labore laboriosam magni
        maxime minima molestias, natus non odio optio pariatur quas quibusdam quis rem reprehenderit repudiandae
        similique suscipit ullam unde ut, vel vero voluptas voluptate. Corporis debitis ipsum repellendus sunt. Ab
        accusantium, alias aliquid asperiores beatae cumque cupiditate dolorem doloribus ea eius eos esse facilis
        impedit, labore laboriosam minima modi molestiae, nesciunt nisi nostrum porro quae qui recusandae rerum sed
        soluta suscipit totam! Adipisci at aut earum ex excepturi illo incidunt inventore, ipsam magni molestias
        necessitatibus nemo officia, omnis ut vel. Architecto laboriosam maiores minima minus modi nesciunt nihil nisi
        quidem totam. Assumenda dolores eveniet iste labore, libero minima modi natus nulla quaerat! Aperiam, commodi
        culpa delectus fugit ipsam maxime minus modi nobis optio perferendis repellat repudiandae unde, vel. Accusantium
        aspernatur at cumque, delectus distinctio ducimus harum itaque natus non, odit perspiciatis quae, quisquam
        temporibus velit vero? Consectetur delectus distinctio dolores impedit inventore ipsa laboriosam laborum
        placeat, praesentium quaerat quibusdam rem sint voluptas voluptate voluptatibus. A adipisci alias assumenda
        distinctio doloremque doloribus eligendi esse incidunt labore, laboriosam laudantium, minima natus nisi non
        obcaecati possimus quo soluta vero! Aperiam architecto aspernatur at atque, autem blanditiis consequatur cum
        distinctio doloremque eaque eius eos excepturi exercitationem fugiat fugit id, illo impedit in iure libero
        maiores minus mollitia nam odio odit officia perspiciatis praesentium quas quis reiciendis sed unde velit
        voluptas! Amet architecto blanditiis deleniti ducimus ea fuga molestias non nostrum tempora voluptatum? Dolores
        earum inventore iusto modi nisi officia praesentium quidem quis, repellendus tempora ullam vel voluptate
        voluptatibus. Ab accusantium dolore eligendi ex id illo laudantium, minima molestiae molestias, mollitia
        nesciunt nostrum quam quisquam quod repellendus sequi, ut. Accusamus alias aliquam architecto aspernatur earum
        expedita fugiat hic illum laboriosam magnam minus necessitatibus nesciunt nihil nisi pariatur provident quaerat
        quisquam, quos recusandae repellat sed veritatis vitae voluptas voluptates voluptatibus. A aspernatur deleniti
        harum incidunt magnam nam ratione! Dicta earum eos est illum itaque iusto praesentium quibusdam unde. A, optio,
        suscipit? Adipisci corporis culpa dicta ea eaque expedita fugit illum quaerat velit veniam. At consequuntur cum
        cupiditate deleniti deserunt enim eos eum excepturi id, laboriosam maxime minus, molestias nulla odio quam,
        vitae voluptates. Aliquam at dignissimos eaque in iste iure omnis quibusdam quod temporibus voluptatum. Alias
        corporis dolor mollitia nulla vel. At debitis distinctio dolorem doloribus ducimus eaque eligendi enim error
        fuga fugit laborum, libero magnam, maiores minus natus nisi numquam pariatur possimus quae quod quos repudiandae
        sapiente sed ullam ut vero voluptas! A ad alias, aliquam asperiores commodi consequuntur culpa delectus
        deleniti, ea eius eligendi et eveniet facere fugiat id labore maxime necessitatibus neque nulla numquam odit
        qui, quisquam ratione repellat sint vero voluptas voluptatum? Adipisci aliquam commodi dolor doloribus, eaque
        fugit, id itaque laboriosam magnam placeat praesentium quaerat quam quis, sed tempore? Amet autem dolores earum
        eligendi excepturi incidunt ipsum laborum libero magni, minus natus nisi nobis, perspiciatis quisquam reiciendis
        sunt tempore, vero? Adipisci animi architecto autem, consequatur consequuntur deserunt, dolorem eius eligendi
        error excepturi expedita fuga fugit hic illum ipsa iste itaque labore maxime nam nobis obcaecati odit omnis
        perspiciatis porro possimus quia quod recusandae reprehenderit sed sequi tenetur unde vel velit veniam
        veritatis, vero voluptatum. Accusantium ad dolores doloribus, eaque eius, enim eos est facere fugiat ipsum
        labore magni nemo obcaecati, omnis placeat porro qui quidem quo ratione saepe sit tempora vel voluptatibus.
        Autem consequuntur, culpa dolores dolorum et eveniet, hic iusto magnam minus mollitia odit perspiciatis, quae
        quisquam reiciendis velit. Architecto beatae, corporis, dicta dolore eaque fuga illo laboriosam magnam, placeat
        qui reiciendis sit velit voluptatem! Accusantium aliquam corporis distinctio ea ex exercitationem incidunt
        laborum magnam molestiae nemo, omnis perspiciatis reiciendis rerum tempora tempore. Asperiores consequatur
        deleniti omnis quibusdam? A accusamus accusantium aliquam aliquid aperiam assumenda at aut dicta dolores ducimus
        esse ex id illum iste minus molestiae nemo nihil odio officia, optio placeat porro quo quos totam vero! Ab,
        atque consectetur dolorem ducimus, facere fugiat impedit libero molestiae officiis quam repellendus tempore.</p>

</div>
<div th:replace="header-footer/footer :: footer"></div>
</body>
</html>