<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Attendance Information</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/js/mark-attendance.js}"></script>
</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<div class="page-wrapper row" style="min-height: 150px; padding-top: 10px; padding-left: 10px">
    <form method="get" th:action="@{/markAttendance}">
        <div class="col-md-4 mb-4">
            <div class="card punch-status">
                <div class="card-body">
                    <h5 class="card-title">Timesheet <small class="text-muted"><span id="time"></span></small></h5>
                    <th:block th:if="${todayAttendance != null}">
                        <div class="punch-det">
                            <h6>Punch In at</h6>
                            <p th:text="${todayAttendance.getCheckInTime()}">Wed, 11th Mar 2019 10.00 AM</p>
                        </div>
                        <th:block th:if="${todayAttendance.getCheckOutTime() != null}">
                            <div class="punch-det">
                                <h6>Punch Out at</h6>
                                <p th:text="${todayAttendance.getCheckOutTime()}">Wed, 11th Mar 2019 18.00 AM</p>
                            </div>
                        </th:block>
                    </th:block>
                    <div class="row text-center">
                        <div class="col-md-6 col-6 text-center">
                            <form method="POST" th:action="@{/checkIn/{id}(id=${employee.getId()})}">
                                <input class="btn btn-primary" type="submit" value="Punch in">
                            </form>
                        </div>
                        <div class="col-md-6 col-6 text-center">
                            <form method="POST" th:action="@{/checkOut/{id}(id=${employee.getId()})}">
                                <input class="btn btn-primary" type="submit" value="Punch out">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">

            <div>
                <div class="form-group custom-select">
                    <select aria-hidden="true"
                            class="select-input floating select2-hidden-accessible"
                            data-select2-id="select2-data-1-klfg" name="month" tabindex="-1">
                        <option th:value="${#dates.createNow().getMonth()+1}">Select Month</option>
                        <option th:value="1">Jan</option>
                        <option th:value="2">Feb</option>
                        <option th:value="3">Mar</option>
                        <option th:value="4">Apr</option>
                        <option th:value="5">May</option>
                        <option th:value="6">Jun</option>
                        <option th:value="7">Jul</option>
                        <option th:value="8">Aug</option>
                        <option th:value="9">Sep</option>
                        <option th:value="10">Oct</option>
                        <option th:value="11">Nov</option>
                        <option th:value="12">Dec</option>
                    </select><span>Select Month</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="form-group custom-select">
                <select aria-hidden="true"
                        class="select floating select2-hidden-accessible"
                        data-select2-id="select2-data-4-v2bh" name="year" tabindex="-1">
                    <option th:value="${#dates.createNow().getYear()+1900}">Select Year</option>
                    <option th:value="2023">2023</option>
                    <option th:value="2022">2022</option>
                    <option th:value="2021">2021</option>
                    <option th:value="2020">2020</option>
                </select><span>Select Year</span></span>
            </div>
        </div>
        <div class="col-md-2 mb-4">
            <div class="d-grid">
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
        </div>
    </form>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Late minutes</th>
                    <th>Early minutes</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attendance, rowIndex : ${listAttendance}">
                    <td th:text="${rowIndex.count}"></td>
                    <td th:text="${attendance.getDate()}"></td>
                    <td th:text="${attendance.getCheckInTime()}"></td>
                    <td th:text="${attendance.getCheckOutTime()}"></td>
                    <td th:text="${attendance.getLateMinutes()}"></td>
                    <td th:text="${attendance.getEarlyMinutes()}"></td>
                    <td th:text="${attendance.getStatus()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<div th:replace="header-footer/footer :: footer"></div>
</body>

</html>