<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update information</title>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
    <link rel="stylesheet" th:href="@{/css/update-employee.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div th:replace="header-footer/header :: header"></div>
<form action="#" class="container-fluid" method="POST" style="padding-top: 10px" th:action="@{/update-employee}"
      th:object="${employee}">
    <input th:field="*{id}" type="hidden">
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img alt="Maxwell Admin"
                                         th:src="'https://source.unsplash.com/130x130/?employee='+${employee.getId()}">
                                </div>
                                <h5 class="user-name" th:if="${user != null}"
                                    th:text="${user.getUsername()}"></h5>
                                <h6 class="user-email" th:text="${employee.getEmail()}">yuki@Maxwell.com</h6>
                            </div>
                            <div class="about">
                                <h5>About</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex molestias nobis non
                                    officia qui, vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" id="firstName" placeholder="Enter first name" th:field="*{firstName}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input class="form-control" id="lastName" placeholder="Enter last name" th:field="*{lastName}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <input class="form-control" id="gender" placeholder="Enter gender" th:field="*{gender}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="dateOfBirth">Date Of Birth</label>
                                    <input class="form-control" id="dateOfBirth" placeholder="Enter date of birth" th:field="*{dateOfBirth}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input class="form-control" id="eMail" placeholder="Enter email ID" th:field="*{email}"
                                           type="email">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input class="form-control" id="phone" placeholder="Enter phone number" th:field="*{phoneNumber}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input class="form-control" id="code" placeholder="Enter email ID" th:field="*{code}"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="department">Department</label>
                                    <!--                                    <input type="text" th:field="*{department}" class="form-control" id="department"-->
                                    <!--                                           name="department"-->
                                    <!--                                           placeholder="Chose your department">-->
                                    <select class="form-select" id="department" name="department">
                                        <th:block th:if="${employeeDepartment != null}">
                                            <option th:text="${employeeDepartment.getName()}"
                                                    th:value="${employeeDepartment.getId()}"></option>
                                        </th:block>
                                        <th:block th:if="${employeeDepartment == null}">
                                            <option th:value="${''}">Choose department</option>
                                        </th:block>
                                        <option th:each="department: ${listDepartment}"
                                                th:text="${department.getName()}"
                                                th:value="${department.getId()}">department
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" th:if="${user != null}">
                                <div class="form-group" sec:authorize="hasAnyAuthority('ADMIN')">
                                    <th:block th:if="${user != null}">
                                        <label>Role</label>
                                        <li th:each="role : ${listRole}">
                                            <th:block th:if="${user.getRoles().contains(role)}">
                                                <input checked name="selectedRoles" th:text="${role.getName()}"
                                                       th:value="${role.getName()}" type="checkbox">
                                            </th:block>
                                            <th:block th:if="${!user.getRoles().contains(role)}">
                                                <input name="selectedRoles" th:text="${role.getName()}" th:value="${role.getName()}"
                                                       type="checkbox">
                                            </th:block>
                                        </li>
                                    </th:block>
                                </div>
                            </div>
                            <th:block th:if="${user == null}">
                                <div style="padding-top: 20px">
                                    <a class="btn btn-primary"
                                       th:href="@{/createAccount/{id}(id=${employee.getId()})}">Create account</a>
                                </div>
                                <input checked name="selectedRoles" th:value="${null}" type="hidden">
                                <input checked name="selectedRoles" th:value="${null}" type="hidden">
                            </th:block>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-end" style="padding-top: 10px">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div style="position: absolute; bottom: 0; left: 0; right: 0">
    <div th:replace="header-footer/footer :: footer"></div>
</div>
</body>
</html>